<html>
<head>
  	<title>p5.js sketches</title>
	<script type="text/javascript" src="scripts/jquery-2.1.3.min.js"></script>
	<script type="text/javascript" src="scripts/lodash.min.js"></script>
	<script type="text/javascript" src="scripts/sketch.js"></script>
	<link rel="stylesheet" type="text/css" href="styles/sketch.css" />
</head>
<body>
<table class="frame">
	<tr>
		<td align="left" width="33%" valign="top">
			<ul class="control-list">
				<li><img class="control" id="pause-resume" src="images/playpause.png" title="Pause/Resume" alt="Pause/Resume" /></li>
				<li><img class="control" id="save" src="images/save.png" title="Save" alt="Save" /></li>
			</ul>
		</td>
		<td id="header">
			<div id="thumb-container">
				<script type="text/template" id="thumb-template">
					<% for( var i = 0; i < window.Sketches.length; i++) { %>
					<img class="thumb" id="<%= window.Sketches[i] %>" data-index="<%= i %>" src="images/<%= window.Sketches[i] %>.png" />
					<% } %>
				</script>
			</div>
		</td>
		<td align="right" width="33%" valign="top"></td>
	</tr>
	<tr>
		<td align="left" width="33%"></td>
		<td>
			<iframe id="my-container"></iframe>
		</td>
		<td align="right" width="33%"></td>
	</tr>
</table>
<div id="footer">&copy; <span id="copyright-year"></span> Erik Muir | muirdev.com</div>
</body>
</html>
